<!DOCTYPE html>
<html lang="cs">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OpenSchoolSucks - Login</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/global.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/index.css') }}">
</head>

<body id="index">
    <div class="container-main">
        <img src="{{ url_for('static',filename='images/psjg.png') }}" alt="Logo" class="logo">
        <div class="container">
            <h1>Přihlásit se</h1>
            <div class="error">{{error}}</div>
            <form method="post" class="subcontainer">
                <label for="username">Uživatelské jméno</label>
                <input type="text" id="username" name="username" required autocomplete="username">
                <label for="password">Heslo</label>
                <input type="password" id="password" name="password" required autocomplete="current-password">
                <input type="submit" value="Přihlásit se">
            </form>
        </div>
    </div>
</body>

</html>
